<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-test:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-boot-test</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-test" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:2.0.0.M6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-boot-test/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-test/web/Web" />
    </root>
  </artifact>
</component>